/*Header card decoration */
.header-card-design {
    display: flex;
    flex: 0 1 auto;
    border: 2px solid black;
    border-radius: 15px;
    padding: 0.2em;
    width: 8em;
    height: 3.75em;
    color: black;
    font-weight: 600;
    /*Centering words*/
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px gray;
    cursor: pointer;
}

/*Header state decoration*/
button:link, button:hover, button:active, button::after {
    text-decoration: none;
}