.item-card-container {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    width: 35em;
    height: fit-content;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin: 2;
}
    
    .item-card-container:link, .item-card-container:visited, .item-card-container:active, .item-card-container:hover {
        color: black;
    }
    .item-card-container > img {
        flex: 1 0 auto;
        width: 100%;
        height: 50%;
        object-fit:cover;
        border-radius: 10px 10px 0 0;
    }
    .item-card-container > .text {
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        height: 100%;
        padding: 4% 6%;
    }
        .text > #item-title {
            flex: 0 1 auto;
            font-size: 2em;
            font-weight: bolder;
            line-height: 0.9;
            margin: 0 0 2% 0;
        }
        .text > #item-content {
            flex: 0 1 auto;
            font-size: 1em;
            font-weight: 500;
        }

        
@media (max-width: 600px) {
    .item-card-container {
        width: 100%;
        flex-wrap: nowrap;
    }
        .item-card-container > img{
            object-fit: cover;
        }
        .item-card-container > .text{
            padding: 2% 1%;
        }
        .item-card-container > .text > #item-title {
            font-size: 1em;
        }
        .item-card-container > .text > #item-content {
            font-size: 0.8em;
        }
}

@media screen and (max-width: 870px) {
    .text > #item-title {
            font-size: 1.25em;
            font-weight: bolder;
        }
        .text > #item-content {
            font-size: 1em;
            font-weight: 500;
        }
}