.item-card-container {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    width: 35em;
    height: fit-content;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin: 3% 0;
}
    
    .item-card-container:link, .item-card-container:visited, .item-card-container:active, .item-card-container:hover {
        color: black;
    }
    .item-card-container > img {
        flex: 0 1 auto;
        width: 100%;
        height: 50%;
        object-fit:cover;
        border-radius: 10px 10px 0 0;
    }
    .item-card-container > .text {
        box-sizing: border-box;
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        padding: 5% 6%;
    }
        .text > #item-title {
            flex: 0 1 auto;
            font-size: 2em;
            font-weight: bolder;
            line-height: 0.9;
            margin: 0 0 2% 0;
        }
        .text > #item-content {
            flex: 0 1 auto;
            font-size: 1em;
            font-weight: 500;
        }


@media screen and (max-width: 600px) {
    .item-card-container{
        width: 100%;
    }
}

/*Make text smaller*/
@media screen and (max-width: 400px) {
    .text > #item-title {
        font-size: 1.5em;
    }
}