.about-me-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
    /*Header*/
    .about-me-header {
        display: flex;
        flex-direction: row;
        height: 30dvh;
        margin-top: 4rem;
    }
        .about-me-header > hr {
            border: none;
            background-color: #ef97efff;
            width: 60%;
            height: 10px;
        }
        .about-me-section-header {
            color: white;
            font-size: 5rem;
            font-weight: 700;
            padding: 0 2rem;
            line-height: 0.9;
        }

    /*Text*/
    .text {
        color: white;
    }
    .about-me-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0 30%;
        height: 100%;
    }
        .about-me-text {
            font-size: 2rem;
        }
            .about-me-text.title {
                font-size: 3.5rem;
                font-weight: 700;
            }
                .about-me-text #highlight {
                    font-size: 6rem;
                    color: #ed0d8cff;
                }
                .about-me-text #colored {
                    color: #ed0d8cff;
                }

            .about-me-text.subtitle {
                font-size: 1.75rem;
                font-weight: 700;
                line-height: 1.5;
                margin-top: 3rem;
                color: rgb(176, 176, 176);
                text-align: center;
            }
            