.about-me-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
    /*Header*/
    .about-me-header {
        display: flex;
        flex-direction: row;
        height: 30dvh;
        margin-top: 4rem;
    }
        .about-me-header > hr {
            border: none;
            background-color: #ef97efff;
            width: 60%;
            height: 10px;
        }
        .about-me-section-header {
            color: white;
            font-size: 5rem;
            font-weight: 700;
            padding: 0 2rem;
            line-height: 0.9;
        }

    /*Text*/
    .text {
        color: white;
    }
    .about-me-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0 30%;
        height: 100%;
        text-align: center;
    }
        .about-me-text {
            font-size: 2rem;
        }
            .about-me-text.title {
                font-size: 3.5rem;
                font-weight: 700;
            }
                .about-me-text #highlight {
                    font-size: 6rem;
                    color: #ed0d8cff;
                }
                .about-me-text #colored {
                    color: #ed0d8cff;
                }

            .about-me-text.subtitle {
                font-size: 1.75rem;
                font-weight: 700;
                line-height: 1.5;
                margin-top: 3rem;
                color: rgb(176, 176, 176);
                text-align: center;
            }

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .about-me-content {
        padding: 2.5rem;;
    }
        .about-me-text.title {
            font-size: 2.25rem;
        }
        .about-me-text.subtitle {
            font-size: 2rem;
        }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
    .about-me-content {
        padding: 5rem 5rem 7.5rem 5rem;
    }
    .about-me-text.title {
        font-size: 1.5rem;
        justify-content: flex-end;
    }
    .about-me-text #highlight {
        font-size: 3rem;
    }
        
    .about-me-text.subtitle {
        font-size: 1.5rem;
        padding: 0.8rem;
        margin: 0;
    }
    .about-me-header {
        padding: 0;
        height: 10rem;
    }
        .about-me-section-header {
            font-size: 3rem;
        }
}

@media only screen and (min-width: 320px) and (max-width: 480px)  {
    .about-me-content {
        padding: 1.3rem;
    }
    .about-me-header {
        height: 5%;
    }
    .about-me-section-header {
        font-size: 1.5rem;
        margin-bottom: 3rem
    }
        .about-me-text.title {
            font-size: 1rem;
            justify-content: flex-end;
        }
            .about-me-text #highlight {
            font-size: 2rem;
            }
        
        .about-me-text.subtitle {
            font-size: 0.8rem;
            padding: 0.8rem;
            margin: 0;
        }
}
            