.footer-container {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    height: fit-content;
    background-color: rgb(41, 41, 41);
    padding: 2% 0;
}
    .footer-text {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 5px;
        color: rgb(163, 163, 163);
        font-size: 0.8em;
        align-items: center;
    }
        .footer-text > .github-a:link, .github-a:visited, .github-a:active {
            color: rgb(110, 110, 246);
        }
        .footer-text > .github-a:hover {
            text-decoration: underline;
        }
        .footer-text > hr {
            width: 20em;
            height: 1px;
            border: none;
            background-color: gray;
            margin: 1cap;
        }
    .footer-socials {
        display: flex;
        flex: 1;
        padding: 1% 10%;
    }
        .email, .location, .phone {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 0 2.5%;
        }
            #label {
                color: rgb(163, 163, 163);
                font-size: 0.8em;
            }
            #content {
                color: white;
                font-size: 0.9em;
                padding: 1.5% 0;
            }


@media screen and (max-width: 600px) {
    .footer-socials {
        flex-direction: column;
        text-align: center;
        font-size: 0.7em;
    }
    .footer-text {
        font-size: 0.7em;
    }
}