.footer-container {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    height: fit-content;
    background-color: rgb(41, 41, 41);
    padding: 2% 0;
}
    .footer-text {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 5px;
        color: rgb(163, 163, 163);
        font-size: 0.8em;
        align-items: center;
    }
        .footer-text > .github-a:link, .github-a:visited, .github-a:active {
            color: rgb(110, 110, 246);
        }
        .footer-text > .github-a:hover {
            text-decoration: underline;
        }
        .footer-text > hr {
            width: 20em;
            height: 1px;
            border: none;
            background-color: gray;
            margin: 0.5;
        }
    .top-nav-container {
        display: flex;
        flex: 1;
        flex-direction: row;
        color: rgb(207, 207, 207);
        margin: 5% 5% 1% 5%;
    }
        .nav-links {
            display: flex;
            flex: 1;
            width: 50%;
            gap: 2.5%;
            font-weight: 600;
            font-size: 0.8em;
            justify-content: center;
        }
        .your-name {
            display: flex;
            flex: 1;
            flex-direction: column;
            width: 50%;
            align-items: end;
        }
            .your-name > #name-bold {
                font-weight: 600;
                font-size: 1.3em;
            }
            .your-name > #motto {
                font-size: 0.8em;
            }

@media screen and (max-width: 600px) {
    .footer-socials {
        flex-direction: column;
        text-align: center;
        font-size: 0.7em;
    }
    .footer-text {
        font-size: 0.7em;
    }
}