.footer-container {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    height: fit-content;
    background-color: rgb(11, 0, 45);
    padding: 2% 0;
}
    .footer-text {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 5px;
        color: rgb(255, 255, 255);
        font-size: 1em;
        align-items: center;
        padding: 1% 5% 5% 5%;
    }
        .footer-text > hr {
            width: 20em;
            height: 1px;
            border: none;
            background-color: rgb(255, 255, 255);
            margin: 0.5;
        }
    .top-nav-container {
        display: flex;
        flex: 1;
        flex-direction: row;
        margin: 1% 5% 1% 5%;
        color: white;
    }
        .nav-links {
            display: flex;
            flex: 1;
            width: 50%;
            gap: 2.5%;
            font-weight: 600;
            font-size: 1em;
            align-items: center;
        }
        .your-name {
            display: flex;
            flex: 1;
            flex-direction: column;
            width: 50%;
            align-items: end;
        }
            .your-name > #name-bold {
                font-weight: 600;
                font-size: 1.3em;
                color: #ed0d8cff;
            }
            .your-name > #motto {
                font-size: 0.8em;
            }