.social-link-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    align-items: end;
}
    .social-link-item > a {
        flex: 1;
        font-weight: 800;
        font-size: 2.5em;
        cursor: pointer;
    }
        a:link, a:visited, a:hover, a:active {
            color: white;
        }