.important-button {
    display: flex;
    flex: 0 1 auto;
    width: fit-content;
    height: fit-content;
    padding: 1.5%;
    border-radius: 15px;
    border: 4px solid black;
}
    .important-button:link, .important-button:visited, .important-button:active {
        color: black;
    }
    .important-button:hover {
        color: white;
        background-color: black;
    }
