.important-button {
    display: flex;
    flex: 0 1 auto;
    width: 40%;
    height: fit-content;
    padding: 1.5%;
    border-radius: 15px;
    border: 4px solid black;
    font-size: 1.15em; 
    justify-content: center;
    margin: 3% 0;
}
    .important-button:link, .important-button:visited, .important-button:active {
        color: black;
    }

@media screen and (max-width: 600px) {
    .important-button {
        width: 50%;
        margin: 4% 10% 5% 10%;
    }
}
@media screen and (max-width: 480px) {
    .important-button {
        padding: 3% 5%;
    }
}
