.header-container {
    box-sizing: border-box;
    display: flex;
    flex: 0;
    width: 100%;
    height: fit-content;
    padding: 2% 5%;
    gap: 2%;
    align-items: center;
}
    .header-container > img {
        display: flex;
        flex: 0 1 auto;
        width: 5em;
        height: 5em;
        border-radius: 10px;
    }
    .space {
        box-sizing: border-box;
        flex: 1;
        width: 100%;
    }
    .contact-me-modal {
        padding: 2% 4%;
        border: 2px solid black;
        border-radius: 10px;
        background-color: black;
        box-shadow: 4px 4px gray;;
        color: white;
        font-size: 1em;
        font-weight: 800;
        cursor: pointer;
    }

@media screen and (max-width: 480px) {
   .header-container {
        flex-direction: column;
        flex: 0 1 auto;
        width: 100vw;
        height: fit-content;
   }
    .header-container > img {
        align-self: center;
    }
}