.header-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    width: 100vw;
    height: fit-content;
    padding: 0 5% 0 5%
}
    .header-container {
        display: flex;
        flex: 0 1 auto;
        width: 50%;
        gap: 5%;
    }
        .header-container > img {
            display: flex;
            flex: 0 1 auto;
            width: 5em;
            height: 5em;
            border-radius: 10px;
        }

@media screen and (max-width: 480px) {
   .header-container {
        flex-direction: column;
        flex: 0 1 auto;
        width: 100vw;
        height: fit-content;
   }
    .header-container > img {
        align-self: center;
    }
}