.item-card-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    cursor: pointer;
    height: auto;
    border-radius: 10px;
}
    .text {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 5px;
        padding: 5%;
        text-align: center;
    }
        .text > #item-title {
            font-size: 1.5em;
        }
        .text > #item-content {
            font-size: 1.15em;
        }
    .item-card-container:hover, .item-card-container:active, .item-card-container:link, .item-card-container:visited {
        flex: 1;
        color: black;
    }
    
    .item-card-container > img {
        flex: 1;
        object-fit: contain;
        border-radius: 6px;
        width: 100%;
        height: auto;
    }