.horizontal-container {
    display: flex;
    flex: 1;
    border: 4px solid white;
    border-radius: 30px;
    padding: 2%;
    cursor: pointer;
}
    .horizontal-container-img {
        box-sizing: border-box;
        flex: 0 1 auto;
        width: 7em;
        height: 5em;
        object-fit: contain;
    }
    .horizontal-container-text {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
     
    .horizontal-container-text > #title {
        flex: 1;
        font-size: 2.25em;
        margin-bottom: 5px;
    }
    .horizontal-container-text > #content {
        flex: 1;
        font-size: 1.3em;;
    }

@media screen and (max-width: 600px) {
    .horizontal-container-text > #title{
        font-size: 1em;
    }
    .horizontal-container-text > #content{
        font-size: 0.8em;
    }
}
@media screen and (max-width: 480px) {
    .horizontal-container {
        border-radius: 15px;
        gap: 5%;
    }
    .horizontal-container-text > #title{
        font-size: 0.8em;
    }
    .horizontal-container-text > #content{
        font-size: 0.6em;
    }
    .horizontal-container-img {
        width: 5em;
    }

}