.horizontal-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: white;
    background-color: #0d6d5a;
    height: fit-content;
    border-radius: 15px;
    padding: 1.5%;
    gap: 5px;
    text-align: start;
    box-shadow: 3px 4px #05382e;
}
    .itemTitle{
        font-size: 1.5em;
    }
    .itemDesc {
        font-size: 1em;
    }