*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex: 1;
}

.container.main {
    flex-direction: column;
    height: 100vh;
    gap: 0;
    overflow: hidden;
    background-color: #1d0342;
}
 
    .container.content {
        flex-direction: column;
        height: 100vh;
        overflow-y: scroll;
    }
    .container.featured {
        flex-direction: column;
        background-color: #180024 ;
    }
    .container.tech {
        flex-direction: column;
        background-color: #1b0f31;
        padding: 15% 0;
    }  
        .tech-stack-content {
            padding: 0% 5%;
            gap: 20px;
        }

    .container.contact {
        flex-direction: column;
    }

    .contact-me-header {
        display: flex;
        flex: 1;
        padding: 10% 0 2.5% 0;
    }
        .contact-me-header > hr {
            width: 55%;
            border: none;
            height: 10px;
            background-color: #ef97efff;
        }
        .contact-me-header > .header {
            display: inline;
            color: white;
            font-size: 3em;
            width: 45%;
            align-self: flex-end;
            font-weight: 600;
            padding: 0 2%;
        }

    .section-header-container {
        display: flex;
        flex:1;
        width: 100%;
    }
        .section-header {
            flex: 0 1 auto;
            text-align: center;
            padding: 2% 2.5%;
            color: white;
        }
        .section-header-container > hr {
            flex: 2 1 auto;
            width: 33%;
            border:none;
            height: 5px;
            background-color: #ef97efff;
            align-self: center;
        }