.page-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    padding: 2% 0 0 0;
}
    .content-container {
        display: flex;
        flex-direction: column;
        height: fit-content;
        flex: 1;
    }
        .section {
            display: flex;
            flex-direction: column;
            flex: 0 1 auto;
            height: fit-content;
            padding: 2% 0;
        }   
            .featured-works, .misc-works  {
                background-color: rgb(46, 0, 54);
                color: white;
            }
                .featured-works {
                    text-align: center;
                }
            .section > h1 {
                padding: 1% 5% 0 5%;
                font-size: 3.5em;
            }
            .section > .subtitle{
                padding: 0 5% 1% 5%;
                font-size: 1.75em;
                font-style: normal;
                font-weight: 600;
                width: 75%;
                height: fit-content;
            }
        .card-grid{
            display: flex;
            flex: 0 1 auto;
            margin: 2%;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .vertical-grid {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 1% 5% 3% 5%;
            gap: 20px;
            height: fit-content;
        }

        /* Media Queries */
@media screen and (max-width: 600px) {
    .card-grid {
        box-sizing: border-box;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .section {
        box-sizing: border-box;
        text-align: center;
    }
        .section > h1 {
            font-size: 1.15em;
        }
        .section > .subtitle {
            box-sizing: border-box;
            width: 100%;
            font-size: 1.5em;
            margin: 3% 0;
        }
}

@media screen and (max-width: 480px) {
    .section > h1 {
        font-size: 1.15em;
        margin: 5% 0;
    }
}

@media screen and (min-width: 320px) {
    .page-container {
        box-sizing: border-box;
    }
    .section > h1 {
        font-size: 2.5em;
    }
}