.page-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 2% 0 0 0;
}
    .content-container {
        display: flex;
        flex-direction: column;
        flex: 1;
    }