.header-card-container {
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    height: fit-content;
    margin: 0 0.5%;
}
    .header-underline {
        display: block;
        height: 4px;
        width: 100%;
        transform-origin: left;
    }