.header-card-container {
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    height: fit-content;
    margin: 0 0.5%;
}
    .header-underline {
        display: block;
        height: 4px;
        width: 100%;
        transform-origin: left;
    }

@media (max-width: 600px) {
    .header-card-container {
        padding: 0% 6%;
        background-color: rgb(235, 235, 235);
    }
}

@media (max-width: 480px) {
    .header-card-container {
        flex: 0 1 auto;
        box-sizing: border-box;
        flex-wrap: wrap;
        height: 3em;
        margin: 0% 0;
        width: 100%;
    }
}