/**GENERIC**/
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.75em;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}