.item-container {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column; 
    gap: 10px;
    width: 25%;
    height: fit-content;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
    .item-container img {
        flex: 0 1 auto;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
    }
    .item-container.item-card-verti-heading {
        flex: 0 2 auto;
        text-align: center;
    }
    .item-container.item-card-verti-p {
        flex: 0 1 auto;
        font-size: 0.8em;
    }
    .item-container a:hover, a:active, a:link, a:before {
        text-decoration: none;
    }
.item-container-footer-info {
    display: flex;
    flex: 1;
    height: fit-content;
}
    .progress {
        flex: 1;
        font-size: 0.8em;
    }