*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.self-pic-container {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    padding: 8% 5%;
}
    .banner-text {
        display: flex;
        flex: 1;
        color: white;
        display: inline-block;
    }
        .banner-text#upper, .banner-text#lower {
            flex: 1;
            line-height: 1.5;
            font-weight: 600;
            letter-spacing: 1.4px;
            width: 50%;
            font-size: 1em;
            padding: 0 0.25em;
        }
        #important {
            flex: 1;
            display: inline-block;
            color: white;
            font-size: 7em;
            line-height: 0.85;
            font-weight: 700;
        }

    
    