.self-pic-container {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: fit-content;
    width: 50%;
    padding: 8% 5%;
}
    .banner-text {
        color: white;
        display: inline-block
    }
        .banner-text#upper, .banner-text#lower {
            padding: 0 1.5%;
            line-height: 1.5;
            font-weight: 600;
            letter-spacing: 1.4px;
        }

        #important {
            display: inline-block;
            color: white;
            font-size: 5.5em;
            line-height: 0.85;
            font-weight: 700;
            padding: 2% 0;
        }
    .self-pic-container > hr {
        margin: 1% 0;
        border: none
    }
    
    