.self-pic-container {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: fit-content;
    width: 50%;
    padding: 15% 5%;
}
    #normal-text {
        flex: 1;
        font-weight: 600;
        color: #ffffff;
        line-height: 1.5;
        }
        .important {
            flex: 1;
            display: block;
            color: rgb(255, 255, 255);
            font-size: 5.5em;
            line-height: 0.8;
            margin: 2% 0;
        }
    .self-pic-container > hr {
        margin: 1% 0;
        border: none
    }
    
    