/**GENERAL**/
.normal-text {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 0 2rem;
}

/**CONTENT**/

.contact-me-main {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 10rem 5rem;
}
    .contact-me-text {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 50dvw;
    }
        .right-aligned-text {
            align-self: flex-end;
        }
            .header-text {
                font-size: 6rem;
                color: #ed0d8cff;
                font-weight: 700;
                line-height: 0.9;
                padding: 0 2rem;
            }
            .right-aligned-desc {
                color: rgb(158, 158, 158);
                width: 75%;
                padding: 2rem 0;
                font-weight: 600;
                line-height: 1;
                letter-spacing: 1.2px;
                text-align: end;
                font-size: 2rem;
            }
            .social-links {
                display: flex;
                flex: 1;
                flex-direction: column;
                text-align: end;
                width: 100%;
            }